{% extends 'base.html'%}
{% load bootstrap %}

{% block main %}
<div class="row">
  <div class="col-12">
      <ul>
        {% for mov in movmensalista %}
          <li>
            <a href="{% url 'core_movmensalista_update' mov.id %}">{{ mov.mensalista }} -- {{mov.dt_pagamento}}</a>
          </li>
        {% endfor%}
      </ul>
    <form action="{% url  'core_movmensalista_novo' %}" method="POST">
          {% csrf_token %} <!-- defende de ataques do tipo csrf_token-->

          {{ form|bootstrap }} <!--as_p faz dar um paragrafo entre cada campo-->

          <button type="submit" class="btn btn-primary">Cadastrar</button>
      </form>
  </div>
</div>

{% endblock %}
