<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <ul>
    {% for mensalista in mensalistas %}
      <li>
        <a href="{% url 'core_mensalista_update' mensalista.id %}">{{ mensalista.veiculo }}</a>
      </li>
    {% endfor%}
  </ul>
  <form action="{% url  'core_mensalista_novo' %}" method="POST">
      {% csrf_token %} <!-- defende de ataques do tipo csrf_token-->

      {{ form.as_p }} <!--as_p faz dar um paragrafo entre cada campo-->

      <button type="submit">Salvar</button>
  </form>
</body>
</html>
